{
  "extends": [
    "plugin:astro/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "tailwindcss", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "tailwindcss": {
      "config": "tailwind.config.cjs"
    }
  },
  "overrides": [
    {
      // Define the configuration for `.astro` file.
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      // Parse the script in `.astro` as TypeScript by adding the following configuration.
      // It's the setting you need when using TypeScript.
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {}
    }
  ],
  "rules": {
    "prettier/prettier": ["warn"],
    "@typescript-eslint/no-unused-vars": "off"
    // "@typescript-eslint/ban-ts-comment": [
    //   "error",
    //   {
    //     "ts-ignore": "allow-with-description"
    //   }
    // ]
  }
}
