---
interface Frontmatter {
  title: string;
  description: string;
  image: string;
  subtitle: string;
  date: string;
  url: string;
}

const posts = await Astro.glob<Frontmatter>("../../../content/posts/*.md");

export function getStaticPaths() {
  posts.map((post) => {
    return {
      params: {
        slug: post.frontmatter.url,
      },
    };
  });
}
---

<div>test</div>
