@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-color: #000000;
  background-image: radial-gradient(#2d2d2d 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 30px 30px;
}
