---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout>
  <div class="bg-black text-4xl font-bold text-white md:text-5xl lg:text-6xl">
    <h1 class="mb-6 leading-tight">My Portfolio</h1>
    <p class="mb-8 font-sans leading-normal">
      Welcome to my online portfolio, where you can see some of my work and
      learn more about me.
    </p>
    <button class="rounded-full bg-white py-3 px-5 font-bold text-black">
      View My Projects
    </button>
  </div>
</BaseLayout>
