---
import Card from "../components/card.astro";
import BaseLayout from "../layouts/baseLayout.astro";

interface Frontmatter {
  title: string;
  description: string;
  tags: string[];
}

const posts = await Astro.glob<Frontmatter>("../content/posts/*.md");
---

<BaseLayout>
  <main class="dark:text-white">
    <section class="mt-40 flex flex-row">
      <img
        class="inline-block h-32 w-32 rounded-full"
        src="/images/profile.webp"
      />
      <div class="w-full pl-2 text-xl">
        <h1 class="mb-10 text-2xl">Hi 👋, I'm Néstor from Spain</h1>
        <p class="my-3">
          I'm a software engineer with a lot of passion for Typescript and Rust.
        </p>
        <p class="my-3">
          I currently work at <a
            class="text-light-blue-vivid-500 hover:underline"
            href="https://www.nexiona.com/"
            target="_blank">Nexiona</a
          > as a <b>fullstack engineer</b>. And also co-mantain the <a
            class="text-light-blue-vivid-500 hover:underline"
            href="https://create.t3.gg/"
            target="_blank">T3 Stack</a
          > and <a
            class="text-light-blue-vivid-500 hover:underline"
            href="https://trpc.io/"
            target="_blank">tRPC</a
          >.
        </p>
        <p class="my-3">
          Welcome to my blog where I write all my thoughts about software
          development and show the projects I've worked on
        </p>
      </div>
    </section>
    <section>
      <div
        class="mt-40 mb-10 flex justify-between border-b-[1px] border-gray-500 pb-5"
      >
        <h2 class="self-baseline text-4xl">Latest posts</h2>
        <a class="self-baseline text-lg">See all posts</a>
      </div>
      <ul
        role="list"
        class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-3 xl:gap-x-8"
      >
        {posts.map((post) => <Card title={post.frontmatter.title} />)}
      </ul>
    </section>
  </main>
</BaseLayout>
