---
import { getCollection } from "astro:content";

import Card from "../components/card.astro";
import BaseLayout from "../layouts/baseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout title="Projects" description="All my projects.">
  <h1 class="mt-20 text-6xl font-bold">Projects</h1>
  <ul class="mt-10 flex flex-col gap-x-4 gap-y-8 sm:gap-x-6 xl:gap-x-8">
    {
      projects.map((project) => (
        <li>
          <Card
            href={`/projects/${project.slug}`}
            title={project.data.title}
            description={project.data.description}
            date={project.data.pubDate}
            expectedReadTime={0}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
