---
interface Props {
  title: string;
  image: string;
}

const { title = "Test", image } = Astro.props;
---

<div
  class="rounded-lg border-2 border-light-blue-vivid-500/0 p-2 transition duration-200 ease-linear hover:-translate-y-4 hover:border-light-blue-vivid-500/100"
>
  <a>
    <img
      class="aspect-w-10 w-full overflow-hidden rounded-lg"
      src={image}
      alt={`${title}-image`}
    />
    <div class="py-5">
      <h5 class="mb-2 text-2xl font-bold">
        {title}
      </h5>
    </div>
  </a>
</div>
