---
---

<footer
  class="mx-3 flex max-w-6xl rounded-lg pl-0 pt-8 pb-16 shadow md:mx-auto md:flex md:items-center md:justify-between md:p-6"
>
  <ul
    class="mt-3 flex flex-wrap items-center text-sm text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
    </li>

    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>
