<footer
  class="mt-32 flex justify-between border-t-[1px] border-gray-500 pt-4 dark:text-slate-400"
>
  <div>
    <a
      class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
      href="https://twitter.com/nstlopez">Twitter</a
    >
    <a
      class="transition-colors hover:underline dark:hover:text-slate-100"
      href="https://github.com/nsttt ">Github</a
    >
    <a
      class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
      href="https://linkedin.com/in/nstlopez">LinkedIn</a
    >
  </div>
  <div>
    <a
      class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
      href="/rss.xml">RSS</a
    >
  </div>
</footer>
