<footer
  class="mt-32 flex justify-between border-t-[1px] border-cool-grey-400 pt-4 text-cool-grey-700 dark:border-cool-grey-700 dark:text-slate-400"
>
  <div>
    <a
      class="mr-2 transition-colors hover:text-cool-grey-900 hover:underline dark:hover:text-slate-100"
      href="https://x.com/nstlopez"
      >X <span class="text-xs">aka Twitter</span>
    </a>
    <a
      class="mr-2 transition-colors hover:text-cool-grey-900 hover:underline dark:hover:text-slate-100"
      href="https://github.com/nsttt ">Github</a
    >
    <a
      class="mr-2 transition-colors hover:text-cool-grey-900 hover:underline dark:hover:text-slate-100"
      href="https://linkedin.com/in/nstlopez">LinkedIn</a
    >
  </div>
  <div>
    <a
      class="mr-2 transition-colors hover:text-cool-grey-900 hover:underline dark:hover:text-slate-100"
      href="/rss.xml">RSS</a
    >
  </div>
</footer>
