<footer class="mt-32 flex justify-between border-t-[1px] border-gray-500 pt-4">
  <div>
    <a class="mr-2">Twitter</a>
    <a class="mr-2">Github</a>
    <a class="mr-2">LinkedIn</a>
  </div>
  <div>
    <a>RSS</a>
  </div>
</footer>
