---
import { Image } from "@astrojs/image/components";

import ToggleButton from "./toggleButton";
---

<header class="flex flex-col">
  <div class="flex justify-between">
    <a class="flex gap-3" href="/">
      <Image
        class="h-12 w-12 rounded-full"
        width={96}
        height={96}
        src="/images/profile.webp"
        alt="Profile picture"
      />
      <h1 class="self-center text-3xl">Néstor's Blog</h1>
    </a>
    <ToggleButton client:load />
  </div>
  <div
    class="mt-4 flex justify-between border-b-[1px] border-gray-500 pb-4 text-lg dark:text-slate-400"
  >
    <nav>
      <a
        class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
        href="/blog">Blog</a
      >
      <a
        class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
        href="/projects">Projects</a
      >
    </nav>
    <div>
      <a
        class="mr-2 transition-colors hover:underline dark:hover:text-slate-100"
        href="https://twitter.com/nstlopez">Twitter</a
      >
      <a
        class="transition-colors hover:underline dark:hover:text-slate-100"
        href="https://github.com/nsttt ">Github</a
      >
    </div>
  </div>
</header>
