---
import ToggleButton from "./toggleButton.astro";
---

<header class="flex flex-col">
  <div class="flex justify-between">
    <a class="flex" href="/">
      <h1 class="text-4xl">Néstor's Blog</h1>
    </a>
    <ToggleButton />
  </div>
  <div
    class="mt-4 flex justify-between border-b-[1px] border-gray-500 pb-4 text-lg dark:text-gray-400"
  >
    <nav>
      <a class="mr-2 transition-colors hover:text-slate-100" href="/blog"
        >Blog</a
      >
      <a class="mr-2 transition-colors hover:text-slate-100" href="/projects"
        >Projects</a
      >
    </nav>
    <div>
      <a
        class="mr-2 transition-colors hover:text-slate-100"
        href="https://twitter.com/nstlopez">Twitter</a
      >
      <a
        class="transition-colors hover:text-slate-100"
        href="https://github.com/nsttt ">Github</a
      >
    </div>
  </div>
</header>
