---
---

<header class="mx-auto pt-8 pb-8 flex items-center justify-between">
  <div class="self-center md:block">
    <a
      href="/"
      class="font-semibold text-gray-800 dark:text-gray-200 hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-all"
      >Home
    </a>
    <a href="/blog" class="text-lg">Blog</a>
    <a href="/projects" class="text-lg">Projects</a>
  </div>
</header>
