---
import { Image } from "astro:assets";
import ToggleButton from "./toggleButton";
---

<header class="flex flex-col">
  <div class="flex justify-between">
    <a class="flex gap-3" href="/">
      <Image
        class="h-12 w-12 rounded-full"
        width={96}
        height={96}
        src="/images/profile.webp"
        alt="profile"
        loading="eager"
      />
      <h1 class="self-center text-3xl">Néstor's Blog</h1>
    </a>
    <ToggleButton client:only="solid-js" />
  </div>
  <div
    class="border-cool-grey-400 text-cool-grey-700 dark:border-cool-grey-700 mt-4 flex justify-between border-b-[1px] pb-4 text-lg dark:text-slate-400"
  >
    <nav>
      <a
        class="hover:text-cool-grey-900 mr-2 hover:underline dark:hover:text-slate-100"
        href="/">Home</a
      >
      <a
        class="hover:text-cool-grey-900 mr-2 hover:underline dark:hover:text-slate-100"
        href="/blog">Blog</a
      >
      <a
        class="hover:text-cool-grey-900 mr-2 hover:underline dark:hover:text-slate-100"
        href="/talks">Talks & Workshops</a
      >
      <a
        class="hover:text-cool-grey-900 mr-2 hover:underline dark:hover:text-slate-100"
        href="/projects">Projects</a
      >
    </nav>
    <div>
      <a
        class="hover:text-cool-grey-900 mr-2 hover:underline dark:hover:text-slate-100"
        href="https://x.com/nstlopez"
        >X <span class="text-xs">aka Twitter</span></a
      >
      <a
        class="hover:text-cool-grey-900 hover:underline dark:hover:text-slate-100"
        href="https://github.com/nsttt ">Github</a
      >
    </div>
  </div>
</header>
