---
import ToggleButton from "./toggleButton.astro";
---

<header class="pointer-events-none relative z-50 flex flex-col">
  <div>
    <h1>Nst's Blog</h1>
    <div>Searchbox here</div>
    <ToggleButton />
  </div>
  <div>
    <nav>
      <a>Blog</a>
      <a>Projects</a>
      <a>Tags</a>
      <a>RSS</a>
    </nav>
    <div>
      <a>Twitter</a>
      <a>Github</a>
    </div>
  </div>
</header>
