---
interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<div class="mt-8 lg:-mx-6 lg:flex lg:items-center">
  <img
    class="h-72 w-full rounded-xl object-cover lg:mx-6 lg:h-96 lg:w-1/2"
    src="https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    alt="post image"
  />
  <div class="mt-6 lg:mx-6 lg:mt-0 lg:w-1/2">
    <!-- <p class="text-sm uppercase text-feat-secondary">category</p> -->
    <a
      href={url}
      class="mt-4 block text-2xl font-semibold text-white hover:underline md:text-3xl"
    >
      {title}
    </a>
    <p class="mt-3 text-sm text-gray-500 dark:text-gray-300 md:text-sm">
      {description}
    </p>
    <a
      href={url}
      class="mt-2 inline-block text-feat-secondary underline hover:text-red-400"
      >Read more</a
    >
  </div>
</div>
