---
import "../styles/base.css";

import BaseHead from "../components/baseHead.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
  </head>
  <body
    class="container mx-auto max-w-7xl bg-cool-grey-050 p-4 dark:bg-cool-grey-900 dark:text-slate-50 sm:p-6 lg:p-8"
  >
    <div class="mx-auto max-w-3xl">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
