---
import "../styles/base.css";
import Header from "../components/header.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <!-- TODO: Change description and title -->
    <meta name="title" content="Nstlopez" />
    <meta name="description" content="Decription" />
    <meta name="twitter:image" content="https://nstlopez.com/images/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@nstlopez" />
    <meta property="og:title" content="Nstlopez" />
    <meta property="og:description" content="description" />
    <meta
      property="og:image"
      content="https://nstlopez.com/images/twitter.png"
    />
    <!-- TODO: Make title dynamic -->
    <title>Nstlopez</title>
    <meta name="theme-color" content="#000000" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap"
    />
  </head>
  <body class="container mx-auto bg-zinc-50 px-4 dark:bg-black sm:px-6 lg:px-8">
    <Header />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
