---
import "../styles/base.css";

import BaseHead from "../components/baseHead.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: string | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme") ?? "dark";
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body
    class="container mx-auto max-w-7xl bg-cool-grey-050 p-4 text-cool-grey-900 dark:bg-cool-grey-900 dark:text-slate-50 sm:p-6 lg:p-8"
  >
    <div class="mx-auto max-w-3xl">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
