---
const siteTitle = "Néstor López - Software Engineer";
const description = "";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="twitter:image" content="https://nstlopez.com/images/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@nstlopez" />
    <meta property="og:title" content={siteTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://nstlopez.com/images/twitter.png" />
    <title>{siteTitle}</title>
    <meta name="theme-color" content="#000000" />
  </head>

  <body> </body>
</html>
